.groupdetailpage.fragment{
	-ms-grid-columns: 1fr 1fr;
}
.groupdetailpage.fragment header[role=banner] {
	-ms-grid-column-span: 2;
}


/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupdetailpage .itemslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 35px;
    margin-right: 120px;
}

.groupdetailpage .group-map {
        -ms-grid-row: 2;
		-ms-grid-column: 1;
        margin: 0 25px 35px 120px;
		position:relative;
    }

.groupdetailpage .itemslist {
    -ms-grid-row: 2;
	-ms-grid-column:2;
	height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .groupdetailpage .itemslist .win-container {
        margin-bottom: 15px;
        margin-left: 20px;
        margin-right: 35px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        background: #249bd3;
    }

@media screen and (-ms-view-state: snapped) {
    .groupdetailpage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .groupdetailpage .itemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .groupdetailpage .itemslist .win-container {
        margin-bottom: 15px;
        margin-left: 25px;
        margin-right: 35px;
    }

    .groupdetailpage .itemslist.win-rtl .win-container {
        margin-bottom: 15px;
        margin-left: 21px;
        margin-right: 26px;
    }

	.groupdetailpage .itemslist {
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
	}
	
	.groupdetailpage .group-map {
		display: none;
	}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupdetailpage .itemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 80px;
        margin-right: 100px;
    }
	
	.groupdetailpage.fragment{
		-ms-grid-rows: 128px 1fr 1fr;
	}
	
	.groupdetailpage .group-map {
        -ms-grid-row: 2;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
        margin: 0 100px 35px 100px;
		position:relative;
    }

	.groupdetailpage .itemslist {
		-ms-grid-row: 3;
		-ms-grid-column:1;
		-ms-grid-column-span: 2;
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 0;
	}
}
