.itemdetailpage .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: -ms-grid;
	-ms-grid-rows: auto auto 1fr;
	-ms-grid-columns: 1fr;
	padding-top: 133px;
	margin-left: 120px;
    margin-right: 120px;
}

.itemdetailpage .content .item{
	display:-ms-grid;
	-ms-grid-rows: 1fr 21px;
	-ms-grid-columns: auto 50px 50px auto;
	-ms-grid-row: 1;
	width:100%;
	}

        .itemdetailpage .content .item .item-title {
			-ms-grid-column:1;
			-ms-grid-row:1;
			padding-right: 50px;
        }

        .itemdetailpage .content .item .item-subtitle {
			-ms-grid-column:1;
			-ms-grid-row:2;
			
        }
				
		
		.itemdetailpage .content .item-content {
			line-height: 80px;
			margin-top: 30px;
			margin-bottom: 20px;
			-ms-grid-row: 2;
		}
		.itemdetailpage .content .item-content > div{
			background-repeat: no-repeat no-repeat;
			background-position: bottom center;
			display: inline-block;
			width: 80px;
			height: 80px;
		}
		
		.itemdetailpage .content .item-content > div.rack0{
			background-image: url('/images/rack.png');
			background-size: 12px;
		}
		
		.itemdetailpage .content .item-content > div.rack4{
			background-image: url('/images/bike.png');
			background-size: 70px;
		}
		
		.itemdetailpage .content .item-content > div.rackx{
			border-bottom: 1px solid #fff;
		}
		
		.mapBox {
			position:relative;
			-ms-grid-row: 3;
			margin: 25px 0;
		}

		
@media screen and (-ms-view-state: snapped) {
    .itemdetailpage .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        overflow-y: auto;
		padding-top: 0;
		margin-left: 25px;
		margin-right: 25px;
    }
	
		.itemdetailpage .content .item-content {
			line-height: 30px;
		}
	
	.itemdetailpage .content .item-content > div{
		width: 35px;
		height: 35px;
	}
	
	.itemdetailpage .content .item-content > div.rack0{
			background-size: 6px;
		}
		
		.itemdetailpage .content .item-content > div.rack4{
			background-size: 28px;
		}
		

            .itemdetailpage .content header .item-title {
                margin-bottom: 10px;
            }

            .itemdetailpage .content  .item-content {
                padding-bottom: 20px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage .content  {
        margin-left: 100px;
        margin-right: 100px;
    }
}
