<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21062BorisFritscher.GetVelo" Version="1.0.0.2" Publisher="CN=01B08AD2-A707-40F9-B4EC-5DD803BB4E0F" />
  <Properties>
    <DisplayName>GetVelo</DisplayName>
    <PublisherDisplayName>Boris Fritscher</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="GetVelo" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="GetVelo" ForegroundText="light" BackgroundColor="#249bd3">
        <DefaultTile ShowName="allLogos" ShortName="GetVelo" WideLogo="images\logowide.png" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>