<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="aa944ac9-864c-41f5-890b-c7234672bdcb" Version="1.0.0.0" Publisher="CN=Boris" />
  <Properties>
    <DisplayName>GetVelo</DisplayName>
    <PublisherDisplayName>Boris</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="GetVelo" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="GetVelo" ForegroundText="light" BackgroundColor="#249bd3">
        <DefaultTile ShowName="allLogos" ShortName="GetVelo" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>