.groupeditemspage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

.groupeditemspage .groupeditemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    /* This selector is used to prevent ui-dark/light.css from overwriting changes
       to .win-surface. */
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-bottom: 60px;
        margin-left: 45px;
        margin-right: 115px;
        margin-top: 128px;
    }

    .groupeditemspage .groupeditemslist.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 115px;
        margin-right: 45px;
    }

    .groupeditemspage .groupeditemslist .win-groupheader {
        padding: 0;
    }

    /* Use grid and top level layout for truncation */
    .groupeditemspage .groupeditemslist .group-header {
        -ms-grid-columns: minmax(0, max-content) 7px max-content;
        -ms-grid-rows: max-content;
        display: -ms-inline-grid;
        line-height: 1.5;
    }

    /* Override default button styles */
    .groupeditemspage .groupeditemslist .group-header, .group-header:hover, .group-header:hover:active {
        background: transparent;
        border: 0;
        margin-bottom: 1px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 1px;
        min-height: 0;
        padding: 0;
    }

        .groupeditemspage .groupeditemslist .group-header .group-title {
            display: inline-block;
        }

        .groupeditemspage .groupeditemslist .group-chevron {
            -ms-grid-column: 3;
            display: inline-block;
        }

            .groupeditemspage .groupeditemslist .group-chevron::before {
                content: "\E26B";
                font-family: 'Segoe UI Symbol';
            }

            .groupeditemspage .groupeditemslist.win-rtl .group-chevron:before {
                content: "\E26C";
            }


    
#zoomedOutListView .win-surface {
    margin-left: 120px;	
    margin-top: 200px;
}

#zoomedOutListView .win-container {
    background: #249bd3;	   
} 
.groupeditemspage #zoomedOutListView.groupeditemslist .item {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 65px;
    margin-bottom: 60px;
    margin-right: 40px;
    width: 350px
}

.groupeditemspage #zoomedOutListView.groupeditemslist .item .item-title,
.groupeditemspage #zoomedOutListView.groupeditemslist .item .group-chevron{
    font-size: 20pt;
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (-ms-view-state: fullscreen-landscape), screen and (-ms-view-state: fullscreen-portrait), screen and (-ms-view-state: filled) {
    .groupeditemspage .groupeditemslist .item {
        background: #249bd3;
        border-bottom: 1px solid;
        
    }
}

@media screen and (-ms-view-state: fullscreen-landscape) and (-ms-high-contrast), screen and (-ms-view-state: fullscreen-portrait) and (-ms-high-contrast), screen and (-ms-view-state: filled) and (-ms-high-contrast) {
    .groupeditemspage .groupeditemslist .item {
        color: WindowText;
    }
}

@media screen and (-ms-view-state: snapped) {
    .groupeditemspage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .groupeditemspage .groupeditemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .groupeditemspage .groupeditemslist .win-container {
        margin-bottom: 15px;
        margin-left: 20px;
        margin-right: 35px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        background: #249bd3;
    }

    .groupeditemspage .groupeditemslist.win-rtl .win-container {
        margin-left: 21px;
        margin-right: 26px;
    }

        .groupeditemspage .groupeditemslist .item {
            -ms-grid-rows: 1fr;
            -ms-grid-columns: 1fr 0 30px;
            padding: 15px 0 0 15px;
            margin-bottom: 5px;
            height: 40px;
        }
        .groupeditemspage .groupeditemslist .item .item-title, 
        .groupeditemspage .groupeditemslist .item .group-chevron {
            font-size: 18pt;
            font-weight: 400;
            line-height: 1.5;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupeditemspage .groupeditemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 25px;
        margin-right: 95px;
    }

    .groupeditemspage .groupeditemslist.win-rtl .win-horizontal.win-viewport .win-surface {
        margin-left: 95px;
        margin-right: 25px;
    }
}
